@font-face {
    font-family: "Satoshi";
    src: url(/fonts/Satoshi_Complete/Satoshi-Regular.otf);
}

html, body {
    overflow: auto;
}
body{
    font-family: "Satoshi" ,sans-serif;
    font-weight: normal;
    background-color: #EFEFEF;
    color: #161616;
    margin: 0%;
}
.header{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 0px 0px 14px;
    gap: 14px;
    width: 180px;
    height: 50px;
    background-color: #EFEFEF;
}
.logotype{
    display: inline-flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    margin-left: 5%;
}
.title{
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 22px;
    order: 1;
    flex-grow: 0;
    flex: none;
    margin-left: 1%;
    margin-top: 7%;
}

.logo{    
    width: 40px;
    height: 71px;
    order: 0;
    flex-grow: 0;
    flex: none;
    margin-left: 5%;
    margin-top: 3%;
}
.nav{
    display: flex;
    flex: auto;
    flex-direction: row;
    justify-content: space-between;
    order: 2;
    align-items: center;
    gap: 24px;
    width: 355px;
    height: 19px;
    font-size: 20px;
    margin-left: 25%;
    margin-top: 5%;
}
.home_but{
    order: 0;
}
.projects_but{
    order: 1;
}
.contacts_but{
    order: 2;
}
.info_but{
    order: 3;
}

.language{
    display: inline-flex;
    padding: 0;
    order: 3;
    margin-top: 5%;
    margin-left: 25%;
    stroke-width: 0.2px;
    font-family: "Satoshi";
}

.EN{
    background-color: #161616;
    color: #EFEFEF;
}
.UA{
    color: #161616;
    background-color: #EFEFEF;
}

.work{
    display: inline-flex;
    fill: #161616;
    order: 4;
    margin-left: 15%;
    margin-top: 5%;
    background-color: #EFEFEF;
    color: #161616;   
}

.paragraph_1{
    font-size: 25px;
    margin: 12% 10%;
}
 
.creation{
    background-color: #161616;
    color: #EFEFEF;
    margin: 0%;
    padding: 0%;
    height: 1000px;
    width: 100%;

}

.services{
    margin-left: 10%;
    margin-bottom: -10%;
    padding-top: 10%;
    font-size: 20px;}

.Cr_title{
    font-size: 60px;
    margin: 10% 10% -10% 10%;
}

.columns{
    font-size: 40px;
    font-weight: bold;
    padding: 0;
}

.column_1{
    float: left;
    margin: 0% 10%;
    order: 0;
    display: table;
    position:static ;
}
.column_2{
    float: inline-flex;
    order: 1;
    display: table;
    margin: 10% 55%;
}