@font-face {
    font-family: 'Satoshi', monospace;
    src: url(/fonts/Satoshi_Complete/Satoshi-Regular.otf);
}
body{
    font-family: 'Satoshi';
    font-weight: normal;
    background-color: #EFEFEF;
}
.header{
    box-sizing: border-box;

/* Auto layout */

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px 0px 0px 14px;
gap: 14px;

width: 180px;
height: 50px;

background-color: #EFEFEF;
}
.logotype{
    display: inline-flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    margin-left: 5%;
}
.title{
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 22px;
    order: 1;
    flex-grow: 0;
    flex: none;
    margin-left: 7px;
    margin-top: 60px;
}

.logo{    
    width: 40px;
    height: 71px;
    order: 0;
    flex-grow: 0;
    flex: none;
    margin: 24px 0 0 24px;
}
.nav{
    display: flex;
    flex: auto;
    flex-direction: row;
    justify-content: space-between;
    order: 2;
    align-items: center;
    gap: 24px;
    width: 355px;
    height: 19px;
    font-size: 20px;
    margin-left: 35%;
    margin-top: 9%;
}
.home_but{
    order: 0;
}
.projects_but{
    order: 1;
}
.contacts_but{
    order: 2;
}
.info_but{
    order: 3;
}

.language{
    display: inline-flex;
    padding: 0;
    order: 3;
    margin-top: 8%;
    margin-left: 35%;
    stroke-width: 0.2px;
}

.EN{
    background-color: #161616;
    color: #EFEFEF;
}
.UA{
    color: #161616;
    background-color: #EFEFEF;
}

.work{
    display: inline-flex;
    fill: #161616;
    order: 4;
    margin-left: 10%;
    margin-top: 8%;
    background-color: #EFEFEF;
    color: #161616;   
    stroke: #161616;
    stroke-width: 2px;
}

.work.text{
    stroke: #161616;
    stroke-width: 1px;
    size: 50px;
}

.arrow{

}